* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home {
  background-color: rgb(202, 251, 245);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.nav {
  display: flex;
  flex-direction: column;
}

.box {
  background-color: rgb(246, 211, 246);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}

.right {
  background-color: none;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button {
  background-color: #51e4dd; /* Background color */
  color: white; /* Text color */
  margin: 10px; /* Margin around the button */
  padding: 12px 24px; /* Top and bottom padding, left and right padding */
  font-size: 20px; /* Font size */
  border: none; /* Remove default border */
  border-radius: 12px; /* Rounded corners */
  cursor: pointer; /* Change cursor to pointer on hover */
  transition: background-color 0.3s ease-in-out; /* Smooth transition for hover effect */
}

.button:hover {
  background-color: #029aab; /* Darker shade on hover */
}

#about {
  background-color: rgb(247, 249, 221);
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

h2 {
  text-align: center;
}

#discord {
  background-color: rgb(204, 250, 252);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

#contact {
  background-color: rgb(246, 211, 246);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.footer {
  background-color: rgb(247, 249, 221);
  text-align: center;
  padding: 10px;
}

.footer-nav {
  display: flex;
  justify-content: center;
}
