@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap");


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.heading {
  position: fixed; /* Fixes the header at the top */
  top: 0; /* Aligns it to the top */
  left: 0; /* Aligns it to the left */
  width: 100%; /* Full width */
  height: 90px;
  background-color: rgb(202, 251, 218);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.nav {
  display: flex;
  flex-direction: column;
  padding-top: 16px;
  align-items: center;
}


a {
  text-decoration: none;
  color: black;
  margin: 5px;
  font-size: 14px;
}


.box {
  background-color: rgb(246, 211, 246);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  height: calc(100vh - 0px);
}

.right {
  background-color: none;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}


h1 {
  font-size: 48px;
}

.button {
  background-color: #51e4dd; /* Background color */
  color: white; /* Text color */
  margin: 10px; /* Margin around the button */
  padding: 12px 24px; /* Top and bottom padding, left and right padding */
  font-size: 20px; /* Font size */
  border: none; /* Remove default border */
  border-radius: 12px; /* Rounded corners */
  cursor: pointer; /* Change cursor to pointer on hover */
  transition: background-color 0.3s ease-in-out; /* Smooth transition for hover effect */
}

.button:hover {
  background-color: #029aab; /* Darker shade on hover */
}

#about {
  background-color: rgb(247, 249, 221);
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  height: calc(100vh - 0px);
}

h2 {
  text-align: center;
}

#discord {
  background-color: rgb(204, 250, 252);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  height: calc(100vh - 0px);
}

#contact {
  background-color: rgb(246, 211, 246);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: calc(100vh - 0px);
}

.footer {
  background-color: rgb(251, 225, 203);
  text-align: center;
  position: fixed; /* Fixes the header at the bottom */
  bottom: 0; /* Aligns it to the bottom */
  left: 0; /* Aligns it to the left */
  width: 100%; /* Full width */
  height: 90px;
}

.footer-nav {
  display: flex;
  justify-content: center;
}
